
.cuadro{
    background-color: #eeebed;
    width: 700px;
    height: 500px;
    border-radius: 22px;
    justify-self: center;
    text-align: center;
   
    
   
    align-self: center;
   
    
}
.BodyIS{
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
h1{
    color: #961f1f
}
h3{
    color: #0e0101
}
button{
    width: 200px;
    height: 45px;
    font-size: 25px;
}
input{
    width: 300px;
    height: 25px;
}