.container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  
  background-color: #eeebed;
}
.IngresoTemporal{
  display: flex;
  background-color: #eeebed;
  margin-left: 50px;
  flex-direction: column ;
}

.BotonMail{

 
 text-align: center;
  width: 130px;
  height: 50px;
  background-color: #792221;
  color: #ddd;
  font-size: small;
  line-height: 15px;
}


.BodyPer{
  margin: 0;
  padding: 0;
  height: 140vh;
  width: 500vh;
  display: flex;
  background-color: #eeebed;
  color: #000;
}


.NavegadorVer {
  background-color: #39769a;
  height: 140vh;
  width: 250px; /* Ancho fijo en píxeles */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li a {
  display: block;
  color: #000;
  
  text-decoration: none;
  padding: 8px 50px;
  font-size:  30px;
  
  
}

li a:hover {
  background-color: #b7d5e4;
  color: #fff;
  margin-right: -10px;
}

.table-container {
  margin-left: 30px;
  width: calc(100% - 100px); /* Ajustar el ancho total de la tabla */
  font-size: 15px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Hace que las columnas tengan un ancho fijo */
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
  word-wrap: break-word; /* Permite el ajuste de texto largo */
  white-space: normal; /* Permite el ajuste de línea */
  vertical-align: middle; /* Alineación vertical centrada */
}

th {
  background-color: #39769a;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:hover {
  background-color: #ddd;
}

input[type="checkbox"] {
  max-width: 20px; /* Tamaño máximo deseado */
  max-height: 20px; /* Tamaño máximo deseado */
}

/* Ajustar la posición vertical de las casillas de verificación */
input[type="checkbox"] {
  margin: 0; /* Eliminar cualquier margen que pueda desalinear las casillas */
  vertical-align: center; /* Alinear verticalmente las casillas en el centro */
  position: relative; /* Asegura que las casillas se posicionen correctamente */
  top: -1px; /* Ajuste fino para centrar verticalmente */
}

/* Definición de anchos personalizados para las columnas */
.col-control {
  width: 10%; /* Ajusta según tus necesidades */
}

.col-nombre {
  width: 20%; /* Ajusta según tus necesidades */
}

.col-fecha {
  width: 8%; /* Ajusta según tus necesidades */
}

.col-correo {
  width: 30%; /* Ajusta según tus necesidades */
}
.col-solicitud{
  width: 75px;
}
.col-ingles{
  width: 50px;
}
.col-acciones{
  width: 120px;
  margin-left: 2px;
}